<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>News HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/Content/assets/css/ticker-style.css">

    <link rel="stylesheet" href="~/Content/assets/css/flaticon.css">

    <link rel="stylesheet" href="~/Content/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/Content/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/assets/css/slick.css">
    <link rel="stylesheet" href="~/Content/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/assets/css/responsive.css">
</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
    </header>

    <main>
        <!-- About US Start -->
        <div class="about-area">
            <div class="container">
                <!-- Hot Aimated News Tittle-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="trending-tittle">
                            <strong>Trending now</strong>
                            <!-- <p>Rem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                            <div class="trending-animated">
                                <ul id="js-news" class="js-hidden">
                                    <li class="news-item">Bangladesh dolor sit amet, consectetur adipisicing elit.</li>
                                    <li class="news-item">Spondon IT sit amet, consectetur.......</li>
                                    <li class="news-item">Rem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Trending Tittle -->
                        <div class="about-right mb-90">
                            <div class="about-img">
                                <img src="~/Content/assets/img/trending/nt4.jpg" />
                            </div>
                            <div class="section-tittle mb-30 pt-30">
                                <h3 style="color:blue;text-align:center">Nha Trang Có Gì Vui</h3>
                            </div>
                            <div class="about-prea">
                                <p class="about-pera1 mb-25">Ngoài vui chơi trên biển, du khách có thể tham quan đảo khỉ, tháp bà Ponagar và thưởng thức món ngon của miền biển.</p>
                                <p class="about-pera1 mb-25">
                                    Nha Trang, thành phố biển nằm tại vị trí trung tâm tỉnh Khánh Hòa, từ lâu đã là một trong những điểm du lịch hút khách nhất Việt Nam.
                                    Được thiên nhiên ban tặng những bãi biển, vùng vịnh đẹp cùng nhiều đảo lớn nhỏ, thành phố còn sở hữu nhiều danh lam thắng cảnh, điểm tham quan, vui chơi và cơ sở nghỉ dưỡng.
                                </p>
                            </div>
                            <div class="section-tittle">
                                <h3 style="color:blue; text-align:center">Nha Trang mùa nào đẹp?</h3>
                            </div>
                            <div class="about-prea">
                                <p class="about-pera1 mb-25">
                                    Khí hậu ở Nha Trang tương đối ôn hòa, với mùa khô kéo dài từ tháng 1 đến tháng 8, không có mùa đông lạnh.
                                    Do đó du khách có thể tới đây du lịch quanh năm. Từ tháng 4 đến hết tháng 6, trời nắng và nóng nhiều hơn, nhưng không quá oi bức.
                                </p>
                                <p class="about-pera1 mb-25">
                                    Tháng 9 trời bắt đầu có mưa rải rác, nên không ảnh hưởng quá nhiều đến hoạt động vui chơi của du khách.
                                    Từ tháng 10 đến tháng 12, trời mưa nhiều hơn, có thể kèm theo không khí lạnh.
                                    Đây không còn là mùa cao điểm của du lịch nội địa tại Nha Trang, nên phù hợp với những du khách muốn nghỉ dưỡng yên tĩnh.
                                </p>
                            </div>
                            @*Di Chuyển*@
                            <div class="section-tittle">
                                <h3 style="color:blue; text-align:center">Di Chuyển</h3>
                            </div>
                            <div class="about-prea">
                                <p class="about-pera1 mb-25">
                                    Hiện nay, các hãng hàng không Việt Nam như Vietnam Airlines, Vietjet Air, Jetstar, đều khai thác chuyến bay từ Hà Nội, TP HCM đến Nha Trang, qua sân bay Cam Ranh.
                                    Bamboo Airways có chuyến bay từ Hà Nội. Giá vé dao động từ 1.400.000 đồng đến 2.500.000 đồng.
                                </p>
                                <div class="about-img">
                                    <img src="~/Content/assets/img/trending/vj.jpg" />
                                </div>
                                <p class="about-pera1 mb-25">
                                    Sân bay Cam Ranh cách trung tâm thành phố khoảng 35 km. Ở đây có các hãng xe taxi đón khách với giá khoảng 300.000 đồng một chuyến.
                                    Ngoài ra, du khách có thể sử dụng xe bus, tuyến số 18, giá 50.000 đồng một lượt.
                                </p>
                                <p class="about-pera1 mb-25">
                                    Thành phố Nha Trang không quá lớn, trục đường chính chạy dọc theo bãi biển, vì vậy du khách nên thuê xe máy để tham quan, đặc biệt khi muốn thưởng thức ẩm thực của người địa phương.
                                    Xe máy có giá thuê khoảng 100.000 - 150.000 đồng. Thông thường ở các khách sạn sẽ cung cấp dịch vụ này.
                                </p>
                            </div>
                            @*End Di Chuyển*@

                            @*Khách Sạn*@
                            <div class="section-tittle">
                                <h3 style="color:blue; text-align:center">Khách sạn, resort</h3>
                            </div>
                            <div class="about-prea">
                                <p class="about-pera1 mb-25">
                                    Trần Phú là trục đường chạy dọc bãi biển, ở đây có nhiều khách sạn cho du khách lựa chọn.
                                    Một số khách sạn gợi ý là Mường Thanh, Novotel, InterContinental Nha Trang, Sheraton Nha Trang, Lodge...
                                    Với ưu điểm gần biển, gần trung tâm, các khách sạn trên trục đường này có giá từ 900.000 đồng một đêm.
                                    Cao cấp hơn là 2 - 3 triệu đồng một đêm.
                                </p>
                                <div class="about-img">
                                    <img src="~/Content/assets/img/trending/ks.jpg" />
                                </div>
                                <p class="about-pera1 mb-25">
                                    Để tiết kiệm chi phí, du khách có thể tìm khách sạn, homestay sau Trần Phú.
                                    Cụ thể là đường Nguyễn Thị Minh Khai, Hùng Vương hay Nguyễn Thiện Thuật.
                                </p>
                                <p class="about-pera1 mb-25">
                                    Với du khách yêu thích du lịch nghỉ dưỡng, với không gian riêng tư,
                                    không gần trung tâm thì Amiana resort trên đường Phạm Văn Đồng; Vinpearl Resort,
                                    Hòn Tre hay MerPerle là sự lựa chọn phù hợp.
                                </p>
                            </div>
                            @*End Khách Sạn*@

                            @*Ăn gì*@
                            <div class="section-tittle">
                                <h3 style="color:blue; text-align:center">Ăn Gì</h3>
                            </div>
                            <div class="about-prea">
                                <p class="about-pera1 mb-25">
                                    Ngoài hải sản, thành phố còn rất nhiều đặc sản, món ăn hấp dẫn như bánh xèo mực,
                                    nem nướng, bún chả cá, bánh căn, bánh ướt...
                                </p>
                                <div class="about-img">
                                    <img src="~/Content/assets/img/trending/ma1.jpg" />
                                </div>
                                <p class="about-pera1 mb-25">
                                    Nem nướng Hiệp - 96 Lương Định Của
                                </p>
                                <div class="about-img">
                                    <img src="~/Content/assets/img/trending/ma2.jpg" />
                                </div>
                                <p class="about-pera1 mb-25">
                                    Ngoài ra, nơi đây cũng có rất nhiều quán cà phê, trà chanh,
                                    trà sữa, chè được nhiều du khách và người dân địa phương yêu thích.
                                </p>

                            </div>
                            @*Ăn Gì*@


                            <div class="social-share pt-30">
                                <div class="section-tittle">
                                    <h3 class="mr-20">Share:</h3>
                                    <ul>
                                        <li><a href="#"><img src="~/Content/assets/img/news/icon-ins.png" alt=""></a></li>
                                        <li><a href="#"><img src="~/Content/assets/img/news/icon-fb.png" alt=""></a></li>
                                        <li><a href="#"><img src="~/Content/assets/img/news/icon-tw.png" alt=""></a></li>
                                        <li><a href="#"><img src="~/Content/assets/img/news/icon-yo.png" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                                <!-- From -->
                                <div class="row">
                                    <div class="col-lg-8">
                                        <form class="form-contact contact_form mb-80" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                            <div class="row">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    <div class="col-lg-4">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-40">
                            <h3>Follow Us</h3>
                        </div>
                        <!-- Flow Socail -->
                        <div class="single-follow mb-45">
                            <div class="single-box">
                                <div class="follow-us d-flex align-items-center">
                                    <div class="follow-social">
                                        <a href="#"><img src="~/Content/assets/img/news/icon-fb.png" alt=""></a>
                                    </div>
                                    <div class="follow-count">
                                        <span>8,045</span>
                                        <p>Fans</p>
                                    </div>
                                </div>
                                <div class="follow-us d-flex align-items-center">
                                    <div class="follow-social">
                                        <a href="#"><img src="~/Content/assets/img/news/icon-tw.png" alt=""></a>
                                    </div>
                                    <div class="follow-count">
                                        <span>8,045</span>
                                        <p>Fans</p>
                                    </div>
                                </div>
                                <div class="follow-us d-flex align-items-center">
                                    <div class="follow-social">
                                        <a href="#"><img src="~/Content/assets/img/news/icon-ins.png" alt=""></a>
                                    </div>
                                    <div class="follow-count">
                                        <span>8,045</span>
                                        <p>Fans</p>
                                    </div>
                                </div>
                                <div class="follow-us d-flex align-items-center">
                                    <div class="follow-social">
                                        <a href="#"><img src="~/Content/assets/img/news/icon-yo.png" alt=""></a>
                                    </div>
                                    <div class="follow-count">
                                        <span>8,045</span>
                                        <p>Fans</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- New Poster -->
                        <div class="news-poster d-none d-lg-block">
                            <img src="~/Content/assets/img/news/tv1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About US End -->
    </main>

    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding fix">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-7 col-sm-12">
                        <div class="single-footer-caption">
                            <div class="single-footer-caption">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Suscipit mauris pede for con sectetuer sodales adipisci for cursus fames lectus tempor da blandit gravida sodales  Suscipit mauris pede for con sectetuer sodales adipisci for cursus fames lectus tempor da blandit gravida sodales  Suscipit mauris pede for sectetuer.</p>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4  col-sm-6">
                        <div class="single-footer-caption mt-60">
                            <div class="footer-tittle">
                                <h4>Newsletter</h4>
                                <p>Heaven fruitful doesn't over les idays appear creeping</p>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                              method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                                   class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                        class="email_icon newsletter-submit button-contactForm">
                                                    <img src="assets/img/logo/form-iocn.png" alt="">
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50 mt-60">
                            <div class="footer-tittle">
                                <h4>Instagram Feed</h4>
                            </div>
                            <div class="instagram-gellay">
                                <ul class="insta-feed">
                                    <li><a href="#"><img src="assets/img/post/instra1.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/post/instra2.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/post/instra3.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/post/instra4.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/post/instra5.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/post/instra6.jpg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom aera -->

    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/Content/assets/js/vendor/modernizr-3.5.0.min.js"></script>

    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/Content/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/Content/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/slick.min.js"></script>
    <!-- Date Picker -->
    <script src="~/Content/assets/js/gijgo.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/Content/assets/js/wow.min.js"></script>
    <script src="~/Content/assets/js/animated.headline.js"></script>
    <script src="~/Content/assets/js/jquery.magnific-popup.js"></script>

    <!-- Breaking New Pluging -->
    <script src="~/Content/assets/js/jquery.ticker.js"></script>
    <script src="~/Content/assets/js/site.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/Content/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/Content/assets/js/contact.js"></script>
    <script src="~/Content/assets/js/jquery.form.js"></script>
    <script src="~/Content/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/mail-script.js"></script>
    <script src="~/Content/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/Content/assets/js/plugins.js"></script>
    <script src="~/Content/assets/js/main.js"></script>

</body>
</html>